# Select provider: claude | gemini
LLM_PROVIDER=gemini

# ---------- Claude (AWS Bedrock) ----------
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_REGION=ap-south-1
CLAUDE_MODEL_ID=global.anthropic.claude-sonnet-4-5-20250929-v1:0
CLAUDE_MODEL_VERSION=bedrock-2023-05-31

# ---------- Gemini ----------
GEMINI_API_KEY=
GEMINI_MODEL=gemini-2.0-flash